/* ボディ */
html{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
}

/* ヘッダー */
header{
  background-color: #734A6C;
  height: 100px;
  margin: 0;
}
header h1{
  margin: 0;
  color: #fff;
  position: relative;
  bottom: 10px;
  left: 650px;
  font-size: 35px;
  font-family: 'HanziPen TC',sans-serif;
}
.list{
  display: flex;
  position: relative;
  top: 40px;
}
.url-link a{
  color: #BFBFBF;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Andale Mono',sans-serif;
  position: relative;
  top: 10px;
  left: 1000px;
  margin-left: 30px;
}
ul{
  list-style: none;
  margin: 0;
  position: relative;
}
li{
  margin: 0 0 0 15px;
}

/* メイン */
.main{
  display: flex;
}
.main-header{
  background-color: #E8E8EF;
}
.main-title{
  color: #424244;
  padding: 40px;
  font-family: 'TsukuBRdGothic-Regular',sans-serif;
}
.container{
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #424244;
  font-family: 'TsukuBRdGothic-Regular',sans-serif;
  font-size: 20px;
  width: 800px;
}
.container2{
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Viewのボタン */
.btn1{
  position: relative;
  margin: 30px;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #495773;
  background: #B0B8CB;
  transition: .4s;
}
.btn1:hover{
  background: #495773;
  color: white;
}

/* フッター */
footer{
  position: relative;
  text-align: center;
  color: #A5A5AA;
  margin-top: 150px;
}

＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿

/* レスポンンシブ-iphone */
@media screen and (max-width: 375px){
  /* ボディ */
  html{
  overflow-x: hidden;
  }
  body{
    margin: 0;
  }
  /* ヘッダー */
  header{
    background-color: #734A6C;
    height: 100px;
    margin: 0;
  }
  header h1{
    margin: 0;
    color: #fff;
    position: relative;
    top: 3px;
    left: 30px;
    font-size: 25px;
    font-family: 'HanziPen TC',sans-serif;
  }
  .url-link a{
    color: #BFBFBF;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Andale Mono',sans-serif;
    position: relative;
    top: 14px;
    left: 50px;
  }
  ul{
    list-style: none;
    margin: 0;
    position: relative;
  }
  li{
    margin: 0 0 0 15px;
  }
  /* メイン */
  .main-title{
    font-size: 10px;
    font-family: 'TsukuBRdGothic-Regular',sans-serif;
  }
  .container{
    margin: 40px;
    color: #424244;
    font-family: 'TsukuBRdGothic-Regular',sans-serif;
    font-size: 10px;
  }
  .post1 h2 p{
    font-size: 10px;
  }
}


/* レスポンシブ-ipad */
@media screen and (max-width: 1024px){
  /* ボディ */
  html{
    overflow-x: hidden;
  }
  body{
    margin: 0;
    width: 1024px;
  }
  /* ヘッダー */
  header{
    background-color: #734A6C;
    height: 100px;
    margin: 0;
  }
  header h1{
    margin: 0;
    color: #fff;
    font-size: 30px;
    font-family: 'HanziPen TC',sans-serif;
    position: relative;
    left: 60px;
  }
  .url-link a{
    color: #BFBFBF;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Andale Mono',sans-serif;
    position: relative;
    left: 70px;
  }
  ul{
    list-style: none;
    margin: 0;
    position: relative;
  }
  li{
    margin: 0 0 0 15px;
  }
  /* メイン */
  .main-title{
    font-size: 10px;
    font-family: 'TsukuBRdGothic-Regular',sans-serif;
  }
  .container{
    margin-left: 40px;
    margin-right: 20px;
    color: #424244;
    font-family: 'TsukuBRdGothic-Regular',sans-serif;
    font-size: 10px;
  }
  .post1 h2 p{
    font-size: 10px;
  }
}
